body {
    font-family: Arial, sans-serif;
    background: #e3e7ec;
}
.logoName {
    display: flex;
    align-items: center;
}
.logoName h1 {
    color: #243042;
    font-size: 2.5rem;
    margin-left: 10px;
}
.pin {
    width: 70px;  
}

header {
    display: flex;
    justify-content: space-between;
    margin: -10px -10px;
    background-color: #d9d5d5;
    padding: 20px 20px;
    align-items: flex-start;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    margin: 0;
    display: flex;
}

.search-container {
    flex-direction: row; 
    margin-left: auto;
    margin-bottom: auto;
    align-items: center;
    display: flex;
}

#city-input {
    width: 500px;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 12px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}
#current-weather-info {
    height: 350px;
    width: 900px;
    border: 2px solid rgb(83, 81, 81);
    border-radius: 20px;
    background-color: #7ad4df;
}
#weekly-weather-info {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 1300px;
    border: 3px solid rgb(83, 81, 81);
    background-color: #c0c3c3;
    padding: 10px;
    box-sizing: border-box;
}

#weekly-weather-info p {
    flex: 1;                                  
    text-align: center;                       
    border-left: 1px solid rgb(61, 70, 73);    
}

#weekly-weather-info p:first-child {         
    border-left: none;                        
}
.current-weather, .weekly-weather {
    margin-bottom: 20px;
}
.TempNow {
    color: white;
    font-size: 50px;
}
.DescriptionNow {
    color: white;
    font-size: 20px;
}

