<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Weatheress</title>
</head>

<body>
    <header>
        <div class="logoName">
            <img src="../static/images/pin.png" alt="logo" class="pin">
            <h1>Weatheress</h1>
        </div>
        <form method="POST">
            <div class="header-content">
                <div class="search-container">
                    <input type="text" name="city" id="city-input" placeholder="Введите город">
                    <button type="submit" id="search-button">Поиск</button>
                </div>
            </div>
        </form>
    </header>
    <main>
        <section class="current-weather">
            <h2>Погода в {{ city }}</h2>
            <div id="current-weather-info">
                <p class="TempNow">{{ current_temperature}}°C</p>
                <p class="DescriptionNow">{{ weather_description }}</p>
            </div>
        </section>
        <section class="weekly-weather">
            <h2>Погода на 7 дней</h2>
            <div id="weekly-weather-info">
                {% for day in forecast %}
                <p class="paragraph7d">{{ day.date }}: {{ day.temperature }}°C, {{ day.description }}</p>
                {% endfor %}
            </div>
        </section>
    </main>
    <script src="script.js"></script>
</body>

</html>